@import url('https://fonts.googleapis.com/css?family=Pacifico');




h1 {
font-family: 'Pacifico', cursive;
  color: red;
  text-align: center;
}
img {
  position: absolute;
  -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}